.container {
    background-color: #efeeee;
    padding: 30px;
  }
  .order__container {
    background-color: #fff;
    padding: 20px;
  }
  .order__container h2 {
    border-bottom: 1px solid var(--primary-shade);
    padding: 20px;
  }
  .order__container p {
    padding: 12px;
  }
  .order__container img {
    width: 100px !important;
  }
  .order__container div {
    height: auto !important;
  }
  